/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

process.container = 'my-demo'
docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled = true

params {

    reads       =   "${baseDir}/phage_reads/*R{1,2}.fq"
    reference   =   "${baseDir}/phage_reference/lambda_virus.fa"
    outdir      =   "results"

}

